// slider
.slider{
    padding: 10rem 0;
  
    &__wrapper {
      display: flex;
    }
    &__img {
      position: relative;
      display: inline-block;
      h2{
        position: absolute;
        margin-left: 60rem;
        font-size: 4rem;
        margin-top: -25rem;
        z-index: 15;
      }
    }
  }
  