@use "../abstract/" as *;
@use "../base/" as *;

.header  {
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 0rem 0;

  &__wrapper {
    @include between;
    display: flex;
    img {
      height: 10rem;
      width: 10rem;
    }
  }
  
  &__nav{
    display: flex;
    gap: 1rem;
    margin-right: 10rem;
    
    a{
      color: $clr-light;
      font-size: 1.5rem;
     
 

    }
    li{
      padding-bottom: 3rem;
      border-bottom: 10px solid transparent;
      margin-bottom: -3rem ;
      :hover {
        padding-bottom: 3.9rem;
        border-bottom: 10px solid $clr-primary;
        // -webkit-transition: 0.3s all ease;
        // transition: 0.3s all ease;
        // background: #f8565d;
        
        
      }
    }
    
  }
  
}

